:root {
    --primary-color: #483C46;
    --secondary-color: #AF929D;
    --tertiary-color: #98C1B0;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

body {
    margin-bottom:1em;
}

#top-logo {
    margin-bottom: 0;
    padding: 0.8em;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--secondary-color)
}

#global-nav-bar {
    padding-left: 0px;
    height: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.app-name {
    color: white;
}

.nav-link {
    border: none;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-button {
    background-color: inherit;
    border: none;
    font-size: 1.1em;
}

.nav-link:hover {
    filter: brightness(90%)
}

.nav-link:active {
    filter: brightness(80%);
}

.accordion {
    --bs-accordion-active-bg: var(--tertiary-color);
    --bs-accordion-inner-border-radius: 0;
}

.accordion-item {
    border: 0;
}

.accordion-button {
    background-color: var(--tertiary-color);
}

.accordion-button:hover {
    background-color: var(--tertiary-color);
}

.accordion-button:not(.collapsed) {
    color: rgb(20, 20, 20);
    box-shadow: 0 0 0.25rem #88AD9E;
}

.accordion-button:focus {
    box-shadow: 0 0 0.25rem #88AD9E;
    border-color: #88AD9E;
    z-index: 3;
}

#summary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

#summary > p {
    text-align:center;
}

#summary > .goal-type {
    font-weight: bold;
}

.goal {
    margin-left: 1em;
    padding: 0.2em;
}

#about-info {
    background-color: white;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px 10px 0 10px;
}